@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600;700;800&family=Urbanist:wght@200;300;400;500;600;700;800&display=swap');

@import url('./topBar.css');
@import url('./bottomBar.css');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro';

}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

button {
    outline: none;
}

input{
    border: 0;
    outline: 0;
    background-color: none
    ;
}