.container{
    padding-bottom: 77px;
}

.icon-GOV {
    text-align: center;
    margin-top: -7vw;
    margin-bottom: -6vw;
}

.iconGOV {
    width:35vw;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin-top: 8vw;
}

.gridIcons {
    text-align: center;
    display: grid;
    text-decoration: underline;
    color: #04488d;
}

.icon {
    width: 33vw;
    margin-bottom: 1vw;
}


.activeItem path{
    fill: #2D1CC6 !important;
    stroke: #2D1CC6 !important;
}